

/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Header Section */

header.header-section {
    padding: 10px 0;
}

.header-logo img {
    width: 200px;
}

h1, h2, h3,p, a, button{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.btn-basic {
    color: #135e96;
    border-color: #135e96;
    padding: 10px 20px;
}

.btn-pro{
    background-color: #135e96;
    padding: 10px 20px;
    border-color: #135e96;
}

.navbar {
    padding-bottom: 0px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #135e96;
}

.navbar-light .navbar-nav .nav-link {
    color: #2c3338;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #135e96;
}

.dropdown-item {
    color: #2c3338;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #135e96;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #135e96;
}